<h2><%=@todo.description %></h2>
<span class="pomodora-estimate large-pomodora-estimate"><%= @todo.pomodoro_estimate %>pomodoros</span>

<h3>todo #<%= params[:id] %></h3>
<input type="text">
<input type="submit" value="add">
<input type="date">

<a href="/todo/edit/<%= @todo.id %>" class="button edit-todo-button">edit</a>
<a href="/todo/destroy/<%= @todo.id %>">delete</a>
<a href="index.html">back</a>